.bi-search {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.form-floating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-floating input {
  height: 20px;
  padding: 0 !important;
  padding-right: 2.5rem;

}
/*SEARCH BAR*/
#searchInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-left: 0 !important;
  height: 7%;
}
#searchInput div{
  height: 100%;
}

#txtSearch {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px !important;
  width: 80%;
  height: 70%;

}
#txtSearch:focus {
  outline: none;
}

#div_chatlist, #div_resultSearch {
  height: 93%;
  overflow-y: auto;
  overflow-x: hidden;
}
/*Chat image*/

.img {
  display: inline-block;
  margin-right: 10px;
}

.img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
}

.img img:before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  background-image: url("../../../../assets/img/user.jpg");
  background-size: cover;
}

.chat {
  border-bottom: 1px solid #ccc;
  padding: 3% 0px;
  height: 14.29%;
  padding-left: 10px;
  align-items: center;
}


/*Graphic Last message in the chat selector*/
.lastMessage span:last-of-type {
  font-size: 12px;
  color: #ccc;
  padding-right: 5px;
}

.lastMessage {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: small;
}

/*Graphic for the span when I search a chat*/
.chatFound{
  display: inline-block;
  height: fit-content;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  color: #084595;
  font-size: 9pt;
  font-weight: bold;
}

/*chat_result*/
.list_result{
  width: 100%;
  height: 100%;
}

.no_chat_user{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  align-content: center;
}

.no_chat_user h5{
  font-size: 11pt;
  font-weight: bold;
  color: #084595;
}


