<div class="row">
  <div class="col-sm-9 options">
    <i class="bi bi-gear-fill" (click)="showProfile()"
      [ngClass]="{'showSetting' : typeSection == 1, 'hideSetting' : typeSection != 1}"></i>
  </div>
  <div class="col-sm-3 options">
    <div id="newChat">
      <button id="newChatOptions" #newChatOptions (click)="ToggleNewChatOptions()" (blur)="HideNewChatOptions()">
        <i class="bi bi-plus-circle"></i>
        <div id="selectNewChat" [ngClass]="{'animateChatCreationOption' : showOptions}">
          <div (click)="createChat(1)">Nuova Chat singola</div>
          <div (click)="createChat(2)">Nuova Chat di gruppo</div>
        </div>
      </button>

    </div>
    <i class="bi bi-person-heart" (click)="ToggleFriendRequest()"></i>
  </div>
</div>

<app-settings class="header-section"
  [ngClass]="{'showHeaderSection' : typeSection == 1, 'hideHeaderSection' : typeSection != 1}"
  (closeProfile)="onCloseProfileEvent()"></app-settings>
<app-create-chat class="header-section" [ngClass]="{'showHeaderSection' : typeSection == 2, 'hideHeaderSection' : typeSection != 2}"></app-create-chat>
<app-friends-request class="header-section" [ngClass]="{'showHeaderSection' : typeSection == 3, 'hideHeaderSection' : typeSection != 3}" (closeEvent)="onCloseEvent()"></app-friends-request>
