<div class="createChat">
  <div class="header">
    <div class="title">
      <div class="text">
        Crea una nuova chat
      </div>
    </div>
    <div class="close" (click)="closeCreateChat()">
      <i class="bi bi-x"></i>
    </div>

  </div>
  <div class="chatCreation">
    <div id="movingDivChatCreation"
      [ngClass]="{'singleChatSelected' : headerService.chatCreationType == 1, 'groupChatSelected' : headerService.chatCreationType == 2}">
    </div>
    <div class="received" [ngClass]="{'selected' : headerService.chatCreationType == 1}" (click)="changeSelection(1)">
      Chat singola
    </div>
    <div class="sent" [ngClass]="{'selected' : headerService.chatCreationType == 2}" (click)="changeSelection(2)">
      Gruppo
    </div>
  </div>
  <div class="single-chat-creation" *ngIf="headerService.chatCreationType == 1">
    <div class="row" *ngFor="let friend of chatSelectorService.friendList" (click)="createChat(friend)">
      <div class="col-sm-3">
        <div class="img">
          <img [src]="friend.image" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="friendName">
          <h5 class="friend-name">{{friend.nickname}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="group-creation" *ngIf="headerService.chatCreationType == 2">
    <div class="row PossibleGroupChatUser" *ngFor="let friend of chatSelectorService.friendList" (click)="checkFriend(friend)">
      <div class="col-sm-3">
        <div class="img">
          <img [src]="friend.image" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="friendName">
          <h5 class="friend-name">{{friend.nickname}}</h5>
        </div>
      </div>
    </div>

  </div>
</div>
