<div id="selectedChat">
  <div id="messageSend">
    <div id="messageSendText">
      <textarea type="text" name="" id="txtMessage"> </textarea>
    </div>
    <div id="messageSendButton">
      <i class="bi bi-send action" title="Invia"></i>
    </div>
    <div id="btnActions">
      <div id="messageSendVocal" class="action">
        <i class="bi bi-mic-fill" title="vocale"></i>
      </div>
      <div id="messageSendOptions" class="action">
        <i class="bi bi-three-dots-vertical" title="altre opzioni"></i>
      </div>
    </div>
  </div>
</div>
