/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
i.bi{
  font-size: large;
  color: #0b2f5e;
}

/*SCOLL BAR*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  opacity: 0.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #084595;
  border-radius: 10px;
  opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b2f5e;
}

app-chat {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 100%;
  border-right: 1px solid #ccc;
}

app-login{
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

}
