<div class="header">
  <div class="title">
    <div class="text">
      Richieste di amicizia
    </div>
  </div>
  <div class="close" (click)="close()">
    <i class="bi bi-x"></i>
  </div>
</div>
<div class="friendRequestType">
  <div id="movingDiv" [ngClass]="{'receivedSelected' : receivedRequest, 'sentSelected' : !receivedRequest}"></div>
  <div class="received" [ngClass]="{'selected' : receivedRequest}" (click)="changeSelection(true)">
    Ricevuto
  </div>
  <div class="sent" [ngClass]="{'selected' : !receivedRequest}" (click)="changeSelection(false)">
    Inviato
  </div>
</div>
<div class="list-request" *ngIf="receivedRequest">
  <div class="request_user" *ngFor="let request of chatSelector.requestList">
    <img class="request_user_image" [src]="request.image">
    <h5 class="request_user_name text-truncate" title="{{request.nickname}}">{{request.nickname}}</h5>
    <div class="request_options">
      <i class="bi bi-check-lg"></i>
      <div class="vr"></div>
      <i class="bi bi-x-lg"></i>
    </div>
  </div>
</div>
