.progress-bar{
  transition: all 0.2s ease;
}

.loading-data{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress{
  width: 50%;
}

.spinner{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0b2f5e;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
