.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.row {
  padding: 0px;
  border-bottom: 1px solid #ccc;
  margin: 0px !important;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
i {
  cursor: pointer;
}
#newChat{
  position: relative;
}
.chatOptions{
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}

#secret-chat-options{
  display: grid;
  justify-content: end;
  align-items: center;
}
#selectNewChat{
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
  max-height: 0px;
  width: max-content;
  background-color: whitesmoke;
  border-radius: 5px;
  position: absolute;
  z-index: 6; /*It has to be always visible when clicked, so it has to have the highest z-index*/
  right: -100%;
}

#selectNewChat.animateChatCreationOption{
  box-shadow: 0px 0px 10px 0px #ccc;
  max-height: 100px !important;
  border: 1px solid #ccc;
  border-bottom: none;
  transition: all 500ms ease-out;

}

#selectNewChat > div {
  height: fit-content;
  text-align: center;
  font-size: 9pt;
  margin: 0px !important;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}


#selectNewChat > div:hover{
  background-color: rgba(0,0,0,0.1);
}

#newChatOptions{
  border: none;
  background-color: transparent;
}

.header-section{
  width: 350px;
  display: inline-block;
  height: 93%;
  position: absolute;
  bottom: 0;
  right: 100%;
  z-index: 4;
  background-color: #f5f5f5;
}



.showHeaderSection{
  z-index: 5;
  left: 0px;
  transition: left 200ms ease-out;
}

.hideHeaderSection{
  left: -350px;
  transition: left 200ms ease-out;
}

.showSetting{
  transform: rotate(45deg);
  transition: transform 200ms ease-out;
}

.hideSetting{
  transform: rotate(0deg);
  transition: transform 200ms ease-out;
}

/*notify message*/
.notify-request{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
}
.triangle{
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid #ff3333;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rectangle{
  width: 200px;
  height: 50px;
  background-color: #0b2f5e;
  position: absolute;
  left: -210px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
