<div class="webcam_container" #container_webcam>
  <div id="header">
    <i class="bi bi-x-lg webcam_close" (click)="closeWebcam()"></i>
  </div>
  <div id="webcam_recorder">
    <div id="webcam">
      <div id="timer" *ngIf="chatSelector.flagCamera == 2">{{getTime()}}</div>
      <webcam (initError)="cameraProblem($event)" [trigger]="$trigger" (imageCapture)="getImage($event)" *ngIf="seeMedia == 'none'"></webcam>
      <div id="takeMedia" (click)="takeMedia()">
        <div class="outer_circle">
          <div class="inner_circle"></div>
        </div>
      </div>
    </div>
    <div class="optionsMedia">
      <div class="typeMedia">
        <button class="photo"
          [ngClass]="{'selected_media' : chatSelector.flagCamera == 1, 'media_video' : chatSelector.flagCamera != 1}"
          (click)="changeMedia(1)">Photo</button>
        <button class="video"
          [ngClass]="{'selected_media' : chatSelector.flagCamera == 2, 'media_photo' : chatSelector.flagCamera != 2}"
          (click)="changeMedia(2)">Video</button>
      </div>
    </div>
  </div>
</div>

<div class="media_container" [ngStyle]="CheckIfShouldBeShown()">
  <div class="media_scrolling" >
    <div class="media-show" #media_scrolling></div>
  </div>
  <div class="scroller">
    <div class="media_changing" #media_changing>
      <div class="scroll-item" *ngFor="let single_media of media; let i = index">
        <img *ngIf="single_media.type == 'img'" [src]="single_media.src" class="media-scroller" (click)="changeMediaSelected(i)" />
        <video *ngIf="single_media.type == 'video'" [src]="getMedia(single_media)" class="media-scroller" (click)="changeMediaSelected(i)" ></video>
      </div>
    </div>
  </div>
  <button class="bi bi-send"></button>
</div>
