<div class="container" id="wrapper" (keydown)="keyEvent($event)" *ngIf="!loginService.registerSuccess">
  <div class="row">
    <div class="col-md-12">
      <p class="title">HermesChat</p>
    </div>
  </div>
  <mat-stepper linear>
    <mat-step [stepControl]="firstFormGroup" label="{{registerWords['email-password']}}">
      <form [formGroup]="firstFormGroup">
        <mat-form-field>
          <mat-label>{{registerWords['email']}}</mat-label>
          <input matInput placeholder="{{registerWords['email']}}" formControlName="email" type="email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{registerWords['password']}}</mat-label>
          <input matInput placeholder="{{registerWords['password']}}" formControlName="password"
            [type]="eyePwd ? 'text' : 'password'" class="txtPwd" required (paste)="disablePaste()">
          <mat-icon class="eyePwd" (click)="showPwd()">{{eyePwd ? 'visibility_off' : 'visibility_on'}}</mat-icon>
          <mat-icon class="helper" aria-label="password_info" matTooltipClass="tooltip-line-break"
            [matTooltip]="registerWords['password-tooltip']"
            matTooltipPosition="above">help_outline</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{registerWords['confirm-password']}}</mat-label>
          <input matInput placeholder="{{registerWords['confirm-password']}}" formControlName="confirmPassword"
            class="txtPwd" [type]="eyeCheckPwd ? 'text' : 'password'" required (paste)="disablePaste()">
          <mat-icon class="eyePwd" (click)="showCheckPwd()">{{eyeCheckPwd ? 'visibility_off' :
            'visibility_on'}}</mat-icon>
        </mat-form-field>
        <div class="action-btn">
          <button mat-stroked-button matStepperNext class="next-btn">{{registerWords["next"]}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="{{registerWords['user']}}">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>{{registerWords["name"]}}</mat-label>
          <input matInput formControlName="nome" placeholder="{{registerWords['name']}}" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{registerWords['last-name']}}</mat-label>
          <input matInput formControlName="cognome" placeholder="{{registerWords['last-name']}}" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="nickname" required>
          <mat-icon class="helper" aria-label="username_info" matTooltipClass="tooltip-line-break"
            [matTooltip]="registerWords['username-tooltip']"
            matTooltipPosition="above">help_outline</mat-icon>
        </mat-form-field>
        <div class="action-btn">
          <button mat-stroked-button matStepperPrevious>{{registerWords["back"]}}</button>
          <button mat-stroked-button matStepperNext class="next-btn">{{registerWords["next"]}}</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="{{registerWords['user-photo']}}">
      <form [formGroup]="thirdFormGroup">
        <h5>{{registerWords["user-photo"]}}</h5>
        <div class="img">
          <img src="" #picture>
          <p>{{registerWords["img-message"]}}</p>
        </div>
        <div class="input-group mb-4">
          <input type="file" class="form-control" accept="image/*" (change)="addImg($event)">
        </div>
        <div class="action-btn">
          <button mat-stroked-button matStepperPrevious>{{registerWords["back"]}}</button>
          <button mat-stroked-button (click)="signup()" class="next-btn">{{registerWords["signup"]}}</button>
        </div>
      </form>
    </mat-step>

  </mat-stepper>
  <div class="col-md-12" id="login">
    <div>
      <p>{{registerWords["already-have-account"]}} <a [routerLink]="['/login']">{{registerWords["sign-in"]}}</a></p>
    </div>
  </div>

</div>
<div class="otp" *ngIf="loginService.registerSuccess">
  <div class="row" id="wrapper">
    <div class="row sign-in">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">HermesChat</h3>
          <p class="text">{{registerWords["otp-message"]}}</p>
        </div>
      </div>
      <!-- textbox email -->
      <div class="col-md-12 center opt-container">
        <div class="form-floating">
          <!--6 opt item (textbox) that accept only 1 character-->
          <input type="text" class="form-control opt-item" id="opt1" maxlength="1" placeholder="1"
            (keyup)="keyEventOtp($event)" (paste)="onPaste($event)" />
          <input type="text" class="form-control  opt-item" id="opt2" maxlength="1" placeholder="2"
            (keyup)="keyEventOtp($event)" />
          <input type="text" class="form-control opt-item" id="opt3" maxlength="1" placeholder="3"
            (keyup)="keyEventOtp($event)" />
          <input type="text" class="form-control opt-item" id="opt4" maxlength="1" placeholder="4"
            (keyup)="keyEventOtp($event)" />
          <input type="text" class="form-control opt-item" id="opt5" maxlength="1" placeholder="5"
            (keyup)="keyEventOtp($event)" />
          <input type="text" class="form-control opt-item" id="opt6" maxlength="1" placeholder="6"
            (keyup)="keyEventOtp($event)" />
        </div>
        <div class="center">
          <button class="btn btn-primary" id="btnSubmit" #btnSubmit (click)="getOtp()">Verifica Codice</button>
        </div>
      </div>
    </div>
  </div>
