<div class="row" id="wrapper">
  <div class="row">
    <div class="col-md-12">
      <p class="title">HermesChat</p>
    </div>
  </div>
  <div class="row sign-in">
    <!-- textbox email -->
    <div class="col-md-12 center">
      <div class="form-floating" id="form_email">
        <input type="email" class="form-control" id="txtEmail" placeholder="Email" name="email" [(ngModel)]="txtEmail" [ngModelOptions]="{standalone: true}">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-md-6" id="form_name">
      <div class="form-floating">
        <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" [(ngModel)]="txtName" [ngModelOptions]="{standalone: true}">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="col-md-6" id="form_surname">
      <div class="form-floating">
        <input type="text" class="form-control" id="txtSurname" placeholder="Surname" name="surname" [(ngModel)]="txtSurname" [ngModelOptions]="{standalone: true}">
        <label for="surname">Surname</label>
      </div>
    </div>
    <div class="col-md-12 center">
      <div class="form-floating" id="form_nickname">
        <input type="text" class="form-control" id="txtNickname" placeholder="Nickname" name="nickname" [(ngModel)]="txtNickname" [ngModelOptions]="{standalone: true}">
        <label for="nickname">Nickname</label>
      </div>
      <!-- textbox password -->
      <div class="col-md-12 center" id="form_password">
        <div class="form-floating">
          <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="password" [(ngModel)]="txtPassword" [ngModelOptions]="{standalone: true}">
          <label for="password">Password</label>
          <i class="bi" id="showPwd"></i>
        </div>
      </div>
      <!-- textbox confirm password-->
      <div class="col-md-12 center" id="form_confirmPassword">
        <div class="form-floating">
          <input type="password" #pwd class="form-control" id="txtPasswordAck" placeholder="Password" name="password"[(ngModel)]="txtConfirmPassword" [ngModelOptions]="{standalone: true}">
          <label for="password">Confirm Password</label>
          <i class="bi" id="showPwd"></i>
        </div>
        <p id="errorConfirmPassword" style="display: none;">Passwords don't match</p>
      </div>
      <div class="progress-bar" id="divProgressBar">
        <span id="progressBar"></span>
      </div>

      <div class="col-md-12 center" id="divButton">
        <div class="form-group d-flex center" id="login_btn">
          <button type="button" class="btn btn-primary btn-block login-button">Sign In</button>
        </div>
      </div>


    </div>
  </div>
