<div id="selectedChat" (mouseup)="getSelection()">
  <div id="listMessage" #messages (scroll)="scrollMsg($event)">
    <app-message *ngFor="let messages of chatSelector.messageList[this.chatSelector.selectedChat!._id]; let i = index" [chatMessage]="messages"
      [index]="i"></app-message>
  </div>
  <div id="messageSend">
    <div id="messageSendText">
      <div id="txtMessage" #textMessage (keydown)="keyAction($event)" [contentEditable]="contentEditable"
        (paste)="pastedMessage($event)">
        <button class="bi " [ngClass]="{'bi-pause-fill' : audioplay, 'bi-play-fill': !audioplay}" (click)="toggleAudioPlay()" *ngIf="this.audioRecord"></button>
      </div>
      <button class="attachments" (click)="toggleShowChatActions()" (blur)="hideShowChatActions($event)">
        <i class="bi bi-paperclip" id="clip"></i>
      </button>
      <div class="row-action"
        [ngClass]="{'showFifthActionsAnimation' : showChatActions, 'hideActionAnimation' : !showChatActions}">
        <i class="bi bi-geo-alt-fill"></i>
        <i class="bi bi-person-fill-up"></i>
      </div>
      <div class="row-action"
        [ngClass]="{'showFourthActionsAnimation' : showChatActions, 'hideActionAnimation' : !showChatActions}">
        <i class="bi bi-calendar-event-fill" (click)="shareCalendar()"></i>
        <i class="bi bi-graph-up-arrow" (click)="createChart()"></i>
      </div>
      <div class="row-action"
        [ngClass]="{'showThirdActionsAnimation' : showChatActions, 'hideActionAnimation' : !showChatActions}">
        <i class="bi bi-bar-chart-fill" (click)="createSurvey()"></i>
        <label for="txtFile" class="bi bi-file-earmark-fill" ></label>
        <input type="file" id="txtFile" multiple="multiple" (change)="getFiles($event)">
      </div>
      <div class="row-action"
        [ngClass]="{'showSecondActionsAnimation' : showChatActions, 'hideActionAnimation' : !showChatActions}">
        <i class="bi bi-camera-video-fill" (click)="showCamera(2)"></i>
        <label for="txtImage" class="bi bi-image"></label>
        <input type="file" id="txtImage" accept="image/*" multiple="multiple" (change)="getImages($event)">
      </div>
      <div class="row-action"
        [ngClass]="{'showFirstActionsAnimation' : showChatActions, 'hideActionAnimation' : !showChatActions}">
        <i class="bi bi-camera-fill"  (click)="showCamera(1)"></i>
        <i class="bi bi-mic-fill" (click)="recordAudio()"></i>
      </div>
    </div>
    <div id="messageSendButton">
      <button class="chat-action" (click)="sendMsg()">
        <i class="bi bi-send action" title="Invia"></i>
      </button>
    </div>
    <div id="messageSendOptions" class="action">
      <i class="bi bi-three-dots-vertical" title="altre opzioni"></i>
    </div>
  </div>
</div>
<div id="font-styling" #fontStyling>
  <i class="bi bi-type-bold" (click)="toggleFont('b')" [ngClass]="{'fontIsSelected' : isBold}"></i>
  <i class="bi bi-type-italic" (click)="toggleFont('i')" [ngClass]="{'fontIsSelected' : isItalic}"></i>
  <i class="bi bi-type-underline" (click)="toggleFont('u')" [ngClass]="{'fontIsSelected' : isUnderline}"></i>
  <i class="bi bi-subscript" (click)="toggleFont('sub')" [ngClass]="{'fontIsSelected' : isSubscript}"></i>
  <i class="bi bi-superscript" (click)="toggleFont('sup')" [ngClass]="{'fontIsSelected' : isSuperscript}"></i>
  <i class="bi bi-type-strikethrough" (click)="toggleFont('s')" [ngClass]="{'fontIsSelected' : isStrikethrough}"></i>
</div>

<!-- modal -->
<div class="media_modal" *ngIf="chatSelector.src != ''" [ngClass]="{'show_modal': chatSelector.src != ''}" (click)="closeModal($event)">
  <div (click)="$event.stopPropagation()">
    <div class="content_modal" >
      <div class="body_modal">
        <img [src]="chatSelector.src" alt="">
      </div>
    </div>
  </div>
</div>

<!-- camera component -->
<app-camera *ngIf="chatSelector.flagCamera > 0" (onMediaEvent)="getMedia($event)"></app-camera>
