body, html {
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    align-items: center;
    justify-items: center;
}

.is-invalid {
  border-color: #dc3545 !important;
  background-clip: padding-box !important;
  border-width: 3px;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.sign-in{
    width: 100%;
  }

.center {
  text-align: center;
}
.title {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-weight: 400;
  font-size: 48px;
  color: #084595;
  text-shadow: 0px 2px 4px #084595;
  text-align: center;
}
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
  
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  .form-floating input{
    user-select: none;
  }
  #form_email{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  #btnSubmit{
    width: 80%;
    margin: 20px auto;
  }

  #login_btn:hover{
    background-color: #084595;
  }

  .opt-item{
    height: 40px !important;
    width: 40px !important;
    text-align: center !important;
    line-height: 25px !important;
    margin: 1px !important; 
    display: inline !important;
    padding: 2px !important;
    font-size: 17px !important;
  }

  .opt-container{
    width: 350px !important;
  }