.sender {
  padding: 0px 10px;
  font-weight: bold;
}

.date {
  margin: 10px auto;
}

.date span {
  width: 100%;
  padding-left: 20px;
  font-size: 12px;
  color: #555;
}
.date hr{
  width: 100%;
  margin: 0;
}

.message-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.message-info{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.message-get{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.text{
  width: 90%;
  padding: 10px;
  overflow-wrap: break-word;
}

.time{
  padding: 10px;
  width: 10%;
  min-width: fit-content;
  height: 100%;
  font-size: 12px;
  color: #555;
  display: grid;
  justify-content: center;
}

/*message action section*/
.message-actions{
  height: 40px;
  max-width: 40px;
  display:none;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin-left: 10px;
  overflow: hidden;
}
.message:hover .message-actions{
  display: block;
}

.all-actions{
  width: fit-content;
  position: relative;
  display: flex;
}
.all-actions button{
  border: none;
  width: 40px;
  display: grid;
  height: 40px;
  align-items: center;
  justify-items: center;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;

}
.all-actions button:hover{
  background-color: #ddd;
}
.showMessageActions{
  max-width: 200px;
  transition: all 200ms ease;
}
img{
  max-width: 100%;
}

.hideMessageActions{
  max-width: 40px;
  transition: all 200ms ease;
}
.showMessageActions .clickAction{
  transform: rotate(180deg);
  transition: all 200ms ease;
}
.hideMessageActions .clickAction{
  transform: rotate(0deg);
  transition: all 200ms ease;
}
