<div class="row" id="searchInput">
  <div class="col-sm-12">
    <!-- SEARCH BOX -->
    <div class="form-floating">
      <input type="search" placeholder="Search" class="" id="txtSearch" [(ngModel)]="txtSearchChat"
        [ngModelOptions]="{standalone:true}" (input)="showChats()">
    </div>
  </div>
</div>
<div id="div_chatlist" *ngIf="txtSearchChat.length<3">
  <div class="list_result" *ngIf="chatSelector.chatExampleList.length != 0 && chatSelector.chatExampleList">
    <div class="row div_chat" *ngFor="let chat of chatSelector.chatExampleList" (click)="showEntireChat(chat)">

      <div class="col-sm-3">
        <div class="img img-fluid">
          <img [src]="chat.image" class="avatar">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chatName">
          <h5 class="chat-name">{{chat.name}}</h5>
        </div>
        <div class="lastMessage">
          <span class="text-truncate last-message" [innerHTML]="chat.last"></span>
          <span>{{DateAdjustment(getLastMessageTime(chat.last))}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="div_resultSearch" *ngIf="txtSearchChat.length >= 3">
  <div class="list_result" *ngIf="chatSelector.PersonalListSearch.length == 0 && OtherListSerach.length == 0">
    <div class="no_chat_user">
      <h5>Non hai nessuna chat</h5>
      <h5>Creane o cercane una!</h5>
    </div>
  </div>
  <div class="accordion" *ngIf="chatSelector.PersonalListSearch.length != 0 || OtherListSerach.length != 0">
    <div class="accordion-item" *ngIf="chatSelector.PersonalListSearch.length != 0">
      <span class="chatFound accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#personal" aria-expanded="true" aria-controls="collapseOne">
          Chat personali
        </button></span>
      <div id="personal" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row div_chat" *ngFor="let personalChatSearch of chatSelector.PersonalListSearch" (click)="showEntireChat(personalChatSearch)">
            <div class="col-sm-3">
              <div class="img img-fluid">
                <img [src]="personalChatSearch.image" class="avatar">
              </div>
            </div>
            <div class="col-sm-9">
              <div class="chatName">
                <h5 class="chat-name">{{personalChatSearch.name}}</h5>
              </div>
              <div class="lastMessage">
                <span class="text-truncate last-message" [innerHTML]="getLastMessageTime(personalChatSearch.last)"></span>
                <span>{{DateAdjustment(getLastMessageTime(personalChatSearch.last))}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" *ngIf="OtherListSerach.length != 0">
      <span class="chatFound accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#others" aria-expanded="true" aria-controls="collapseOne">
          Chat trovate
        </button></span>
      <div id="others" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row div_chat" *ngFor="let OthersChats of OtherListSerach">
            <div class="col-sm-3">
              <div class="img img-fluid">
                <img [src]="OthersChats.img" class="avatar">
              </div>
            </div>
            <div class="col-sm-9">
              <div class="chatName">
                <h5 class="chat-name">{{OthersChats.name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
