.survey-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.survey-header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-dialog-content{
  width: 100%;
}

.survey-header p{
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.survey_title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent transparent #2196F3 transparent;
  outline: none;
  background-color: #ddd;
}

.survey_options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: auto;
  padding: 0 10%;
}
.survey_option{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.survey_option_text{
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 5px;
}

.sticky-top{
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  row-gap: 10px;
  background-color: white;
}

.no-same-option{
  color: #ff0000;
  font-size: 0.8em;
  margin: 0 5px;
  width: 100%;
  text-align: start;
  visibility: hidden;

}



.confirm-survey{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.confirm-survey p{
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.survey_exclusive_checbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  background-color: inherit;
}

.survey_exclusive_checbox p{
  margin: 0;
  padding: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
