<div class="container">
  <input type="text" placeholder="titolo del sondaggio" class="survey_title">
  <textarea class="survey_desc"></textarea>
  <div class="survey_options">
    <div class="survey_option">
      <input type="text" placeholder="opzione 1" class="survey_option_text">
      <i class="bi bi-x-circle-fill"></i>
    </div>
  </div>
  <div class="survey_exclusive_checbox">
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p>Seleziona solo un'opzione</p>
  </div>
</div>
