app-event {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.event{
  width: 100%;

}

#no_events {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
