center{
  text-align: center;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;

  color: #084595;

  text-shadow: 0px 4px 4px #084595;
  text-align: center;
}

.sign-in{
  width: 100%;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

#pwd_forgotten{
  text-align: center;
  color: #084595;
  font-size: 9pt;
  text-decoration: none;
  float: right;
}

#showPwd{
  color: #084595;
  position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}






.login-button{
  /*button styling black and white*/
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #084595;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  color: #084595;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 20px;

}
.login-button:hover {
  background-color: #084595;
  color: #FFFFFF;
}

#login_btn{
  width: 100%;
  margin: 0 auto;
}

/*FORM INPUT DATA*/
#form_email{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
#form_password{
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#form_email input:focus(){
  outline: none;
}
#form_password input:focus(){
  outline: none;
}

/*Registration*/
#register{
  text-align: center;
  color: #084595;
  font-size: 9pt;
  text-decoration: none;
  float: left;
}
