<div class="container">
  <div class="header">
    <p>impostazioni</p>
    <i class="bi bi-x" (click)="closeSettings()"></i>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <i class="bi bi-person-fill"></i>
      <div class="info">
        <div class="mainText">Profilo</div>
        <div class="subText text-truncate">Informazioni sull'utente, username, stato</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <i class="bi bi-shield-lock-fill"></i>
      <div class="info">
        <div class="mainText">Sicurezza</div>
        <div class="subText text-truncate">Cambio password, utenti bloccati, visualizzazione Informazioni</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="info">
        <div class="mainText">Chat e notifiche</div>
        <div class="subText text-truncate">Sfondo delle chat, notifiche, chiamate</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <i class="bi bi-translate"></i>
      <div class="info">
        <div class="mainText">Lingua</div>
        <div class="subText text-truncate">Modifica lingua</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <i class="bi bi-sun-fill"></i>
      <div class="info">
        <div class="mainText">Tema</div>
        <div class="subText text-truncate">Modifica tema di Hermes</div>
      </div>
    </div>
  </div>
  <div class="row" (click)="logout()">
    <div class="col-sm-12">
      <i class="bi bi-door-open"></i>
      <div class="info">
        <div class="mainText">Disconnettiti</div>
        <div class="subText text-truncate">Esci da HermesChat</div>
      </div>
    </div>
  </div>
</div>
