.container{
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding: 0 !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #0b2f5e;
}

.header i{
  font-size: 1.5em;
  color: inherit;
  margin: 0 0.2em;
  cursor: pointer;
  text-align: end;
}

.header p{
  margin: 0 0.5em;
  text-align: end;
  font-weight: bold;
  font-size: 1.2em;
}

/*Info*/
.mainText{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 5px;
}

.subText{
  font-size: 0.8em;
  margin: 0 5px;
  color: #555;
}



.row{
  margin: 0 !important;
  min-height: 14.2857142%;
}
.col-sm-12{
  padding: 0 !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.col-sm-12:hover{
  background-color: #ddd;
}

.col-sm-12 i{
  display: grid;
  place-items: center;
  width: 15%;
  height: 100%;
  font-size: 1.8em;
}
.info{
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;

}

.user_action{
  width: 100%;
  flex-grow: 1;
}

.logout i, .logout .mainText, .logout .subText{
  color: #f00 !important;
}



.info_of_the_user{
  display: inline-block;
  transform: translateX(-100%);
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 7;
}

.show_user_action{
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}

.hide_user_action{
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}
